.title {
  // font-family: "argesta_displayregular";
  // font-family: 'Merriweather', serif;
  font-family: 'Poppins', sans-serif;
  font-family: HelveticaNowDisplay-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: clamp(3rem, 7vw, 10rem);
  // text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  overflow: hidden;
}
