.home {
  width: 100vw;
  height: 100vh;
  // background-color: #f2f1f2;

  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: space-between;
  color: black;
  padding: 50px;
  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  h1 {
    grid-area: 8 / span 2 / 12 / span 2;
  }

  .image {
    position: relative;
    grid-area: 3/8/7 / span 5;

    > span {
      &:nth-child(1) {
        z-index: 1;
      }
      &:nth-child(2) {
        transform: rotateZ(8deg);
        transform-origin: right bottom;
        /* z-index: 0; */
        opacity: 0.4 !important;
        filter: grayscale(1);
      }
      &:nth-child(3) {
        transform: rotateZ(-15deg);
        transform-origin: right bottom;
        /* z-index: 0; */
        opacity: 0.5 !important;
        filter: grayscale(0.5);
      }
    }
  }
  .copyright {
    grid-area: 12 / 10 / 12 / span 3;
  }
}

.big-bold-font {
  // font-family: "argesta_displayregular";
  // font-family: 'Merriweather', serif;
  font-size: 10vw;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-bar {
  position: fixed;

  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  padding: 50px;

  font-weight: 400;

  .nav-bar-left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .nav-bar-right {
    flex: 1;

    text-align: right;
  }
}
